.node.root {
    margin: 0 20px 20px 0;
    border: solid 1px hsl(0,0%,50%);
    padding: 20px;
    display:inline-block;
    vertical-align:top;
}
.node {
    font-family: monospace;
    margin-bottom: 8px;
}
.separator:not(:last-child) {
    border-top: solid 1px hsl(0,0%,80%);
    margin-bottom: 8px;
}
.node-key {
    display:inline-block;
    vertical-align:top;
    width: 100px;
    overflow:hidden;
    text-overflow:ellipsis;
    margin-right: 8px;
}
.node:not(.root) > .node-key:after {
    content:':';
}
.node-value {
    display:inline-block;
    vertical-align:top;
}
.node:not(.root) > .node {
    margin-left: 20px;
}
.node:not(.root) > .separator {
    margin-left: 20px;
}

.node-type-object > .node-key,
.node-type-array > .node-key {
    width: auto;
    display:block;
    font-weight: bold;
}
.node-type-array > .node > .node-key:before {
    content: '[';
    color: orange;
}
.node-type-array > .node > .node-key:after {
    content: ']';
    color: orange;
}

.node-type-array > .node > .node-key {
    text-align:right;
    width: 30px;
}
.node-type-array > .node > .node {
    margin-left: 40px;
}
.node-type-array > .node > .separator {
    margin-left: 40px;
}
.node-type-string {
    color: orange;
}
.node-type-boolean {
    color: blue;
}
.node-type-number {
    color: green;
}
